certifi
chardet
defusedxml
Django
django-appconf
django-crispy-forms
social-auth-app-django
django-tinymce
crispy-bootstrap4
django-filebrowser
pyenchant
gunicorn
httplib2
idna
jsmin
oauth2
oauthlib
Pillow
PyJWT
python-openid
python3-openid
pytz
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
urllib3
django-environ