{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Suraj' Blogs</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style="
      background-color: #c2c8cc;
      margin: 0;
      padding: 0;
      font-family: 'Manrope', sans-serif;
      box-sizing: border-box;
    "
  >
    <div
      class="container"
      style="
        margin: auto;
        width: 100%;
        font-size: 14px;
        max-width: 600px;
        background: none;
      "
    >
      <div
        class="body-header"
        style="
          background-color: #f5f6f7;
          padding: 20px;
          border-bottom: 1px solid #c2c8cc;
        "
      >
        <a href="{{app_domain}}">
          <img
            src="cid:site_logo"
            style="height: 50px"
          />
        </a>

        <p
          style="
            float: right;
            margin-top: 13px;
            text-align: right;
            font-size: 14px;
            font-weight: 500;
          "
        >
          Suraj's Blogs
        </p>
      </div>

      <div class="letter" style="background-color: #fdfdfd; padding: 20px 20px">
        <div style="text-align: left">
          <p style="font-size: 14px; font-weight: 700">
            Hi Geek,
          </p>
        </div>

        <h2
          class="title highlight"
          style="text-align: center; color: #1d5073; text-align: center"
        >
          Welcome to Suraj's Blogs!
        </h2>
        <div class="letter-message" style="padding: 10px 0">
          Hi <span style="font-weight: bold">Geek</span>,<br />
          Thank you for subscribing to our newsletter. I am very happy to help you on anything related to technology. In the meantime,
          please consider checking out my portfolio by clicking on the button below.
          <center style="padding: 30px">
            <a href="{{ link }}" style="text-decoration: none">
              <span
                style="
                  background-color: #2a9482;
                  color: white;
                  min-height: 40px;
                  padding: 10px;
                  padding-left: 20px;
                  padding-right: 20px;
                  font-weight: bold;
                  border-radius: 5px;
                "
              >
                GO
              </span>
            </a>
            <br /><br /><br />
            or click the link below:<br />
            <a href="{{ link }}" style="margin: 40px">{{ link }}</a>
          </center>
        </div>
        <br />
        <br />
        <p style="margin: 0">Regards!</p>
        <p style="margin: 0; padding-bottom: 20px; font-weight: 500">
          Suraj Karki
        </p>
      </div>

      <div
        class="body-footer"
        style="
          padding: 25px;
          display: block;
          text-align: center;
          background: transparent;
        "
      >
        <p
          style="
            font-size: 14px;
            text-align: center;
            font-family: Arial, sans-serif;
            font-size: small;
            color: #5c5c5c;
          "
        >
          This email was intended for
          <strong>{{user.email}}</strong>.
        </p>

        <div
          class="footer-message"
          style="
            font-size: 14px;
            text-align: center;
            font-family: Arial, sans-serif;
            font-size: small;
            color: #5c5c5c;
            padding-top: 10px;
          "
        >
          You are receiving this email because this email address was registered
          on Suraj' Blogs. If you had not subscribed for this account,
          <a style="color: #1d5073" href="{{app_domain}}/help-and-support/"
            >please let us know</a
          >
        </div>
      </div>
    </div>
  </body>
</html>